<!-- *** orderReport *** -->

<div class="uk-container">
  <div class="uk-form-horizontal">
    <div class="uk-margin-small">
      <label class="uk-form-label" for="form-horizontal-text">{{'Name' | r | xlat}}</label>
      <div class="uk-form-controls">
        <input required class="uk-input uk-form-width-large" id="form-horizontal-text" type="text" ng-model="report.Name" placeholder="{{'Name' | r | xlat}}" />
        <button type="submit" ng-disabled="reportForm.$invalid" class="uk-button uk-button-primary">
          <span>{{'Save' | r | xlat}}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="uk-grid uk-child-width-1-2">
    <div>
      <div class="uk-form-horizontal">
        <h3>{{'Conditions' | r | xlat}}</h3>
        <div class="uk-margin-small">
          <label class="uk-form-label" for="form-horizontal-text">{{('Order' | r) + ' ' + ('ID' | r) | xlat}}</label>
          <div class="uk-form-controls">
            <input class="uk-input uk-form-width-large" id="form-horizontal-text" type="text" ng-model="report.ExternalID" placeholder="{{('Order' | r) + ' ' + ('ID' | r) | xlat}}" />
          </div>
        </div>
        <div class="uk-margin-small">
          <label class="uk-form-label">{{('Order' | r) + ' ' + ('Type' | r) | xlat}}</label>
          <div class="uk-form-controls">
            <select class="uk-select uk-form-width-large" id="form-horizontal-select" ng-options="key as (value | xlat) for (key,value) in report.OrderTypeOptions" ng-model="report.OrderType"><option value=""></option></select>
          </div>
        </div>
        <div class="uk-margin-small">
          <label class="uk-form-label">{{('Order' | r) + ' ' + ('Status' | r) | xlat}}</label>
          <div class="uk-form-controls">
            <select class="uk-select uk-form-width-large" id="form-horizontal-select" ng-options="(status | xlat) for status in report.OrderStatusOptions" ng-model="report.OrderStatus"><option value=""></option></select>
          </div>
        </div>
        <div class="uk-margin-small">
          <label class="uk-form-label">{{'User' | r | xlat}}</label>
          <div class="uk-form-controls">
            <select class="uk-select uk-form-width-large" id="form-horizontal-select" ng-options="u for u in report.Users" ng-model="report.User"><option value=""></option></select>
          </div>
        </div>
        <daterange ng-options="report.TimeSpanOptions" fromdate="report.FromDate" todate="report.ToDate" />
        <hr />
        <h3>{{'Subtotal Options' | r}}</h3>
        <div class="uk-margin-small">
          <label class="uk-form-label">{{'Subtotal by Column' | r | xlat}}</label>
          <div class="uk-form-controls">
            <select class="uk-select uk-form-width-large" id="form-horizontal-select" ng-options="key as (value | r | xlat) for (key,value) in report.SubtotalOptions" ng-model="report.Subtotal"><option value=""></option></select>
          </div>
        </div>
        <div class="uk-margin-small">
          <label class="uk-form-label">{{'Time' | r | xlat}}</label>
          <div class="uk-form-controls">
            <select class="uk-select uk-form-width-large" id="form-horizontal-select" ng-options="time as (time | xlat) for time in report.DateGroupOptions" ng-model="report.DateGroup"><option value=""></option></select>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-form">
        <h3>{{'Display Columns' | r | xlat}}</h3>
        <div class="uk-margin-small">
          <div class="">
            <select multiple size="20" required class="uk-select" ng-options="key as (value | r | xlat) for (key,value) in report.ColumnOptions" ng-model="report.SelectedColumns"><option value=""></option></select>
          </div>
        </div>
        <h3>{{'Display Order Field Columns' | r | xlat}}</h3>
        <div class="uk-margin-small">
          <div class="">
            <select multiple size="10" class="uk-select" ng-options="key as value for (key,value) in report.OrderFieldColumnOptions" ng-model="report.SelectedOrderFieldColumns"><option value=""></option></select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
