<!-- *** branding *** -->

<!-- section start -->
<!-- ================ -->
<section ng-show="isActive('catalog')">
    <div class="uk-position-relative uk-light" uk-slideshow="min-height: 375;max-height: 375; autoplay: true; autoplay-interval: 12000;">
        <ul class="uk-slideshow-items">
            <li>
                <img src="https://www.four51.com/Themes/Custom/9837598c-9484-4abd-96bb-67077caec569/assets/latcham/carousel-1.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="https://www.four51.com/Themes/Custom/9837598c-9484-4abd-96bb-67077caec569/assets/latcham/carousel-2.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="https://www.four51.com/Themes/Custom/9837598c-9484-4abd-96bb-67077caec569/assets/latcham/carousel-3.jpg" alt="" uk-cover>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>
</section>
<!-- section end -->
