<!-- *** copyrightView *** -->

<!-- .subfooter start -->
<!-- ================ -->
<div class="uk-section-xsmall uk-text-center">
    <p class="uk-text-small">Powered by</p>
    <div class="uk-logo-small">
        <img alt="Latcham logo" src="https://www.four51.com/Themes/Custom/9837598c-9484-4abd-96bb-67077caec569/assets/latcham/latcham-logo.png" style="display: inline-block; "/>
    </div>
    <p class="uk-text-small uk-margin-small-top">
        {{'Copyright' | xlat}} © {{year}} Latcham. {{'All rights reserved' | xlat}}.
    </p>
</div>
<!-- subfooter end -->
