<!-- *** favoriteOrderListView *** -->

<section uk-height-viewport="expand: true" class="uk-section uk-background-muted">

	<!-- main-container start -->
	<!-- ==================== -->
	<div class="uk-container"> <!-- container start -->

		<!-- page-title start -->
		<!-- ================ -->
		<div class="uk-text-center">
			<h1 class="uk-heading uk-text-uppercase">{{('Favorite' | r) + ' ' + ('Orders' | r) | xlat }}</h1>
			<div class="uk-divider-small"></div>
		</div>
		<!-- page-title end -->

		<section>

			<loadingindicator ng-show="loading" />

			<div class="uk-text-center" ng-if="favoriteorders.length == 0">
				<div>
					<p>{{'You have no ' + ('Favorite' | rl) + ' ' + ('orders' | rl) + ' yet.' | xlat}}</p>
				</div>

				<div>
					<button type="button" class="uk-button uk-button-default" redirect="order">{{('View' | r) + ' ' + ('Orders' | r) | xlat}}</button>
				</div>
			</div>

			<div ng-if="favoriteorders.length > 0">

				<div class="panel-body view-form-icon" ng-if="favoriteorders.length > 0">
					<form role="search" class="uk-form-stacked">
						<div>
							<label class="uk-form-label" ng-show="searchTerm">{{'Search' | r | xlat}}</label>
							<input class="uk-form-controls" type="text" placeholder="{{'Search' | r | xlat}}" ng-model="searchTerm" autocomplete="off" />
							<i class="fa fa-search"></i>
							<div>
								<button type="submit" ng-click="search(searchTerm)" class="uk-button uk-button-default">{{'Search' | r | xlat}}</button>
							</div>
						</div>
					</form>

					<div class="table-responsive">
						<table class="uk-table uk-table-striped">
							<tr>
								<th><input type='checkbox' ng-click="checkAll($event)" /></th>
								<th>{{'Name' | r}}</th>
								<th>{{'Order' | r}} {{'ID' | r}}</th>
								<th>{{'Date' | r}} {{'Completed' | r}}</th>
								<th>{{'Order' | r}} {{'Type' | r}}</th>
								<th ng-if="!(user.Permissions.contains('HidePricing'))"></th>
							</tr>

							<tr ng-repeat="order in favoriteorders | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize">
								<td><input type='checkbox' ng-model="order.Selected" /></td>
								<td>{{order.FavoriteName}}</td>
								<td><a ng-href="order/{{order.ID}}">{{order.ExternalID}}</a></td>
								<td>{{order.DateCompleted | date:'medium'}}</td>
								<td> {{order.Type}}</td>
								<td class="uk-text-center" ng-if="!(user.Permissions.contains('HidePricing'))">
									<button ng-disabled="currentOrder" type="button" class="uk-button uk-button-default uk-button-small" ng-click="repeat(order)">
										<i ng-show="currentOrder" class="fa fa-warning"></i>
										{{'Repeat' | r}} {{'Order' | r}}
									</button>
								</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="uk-text-center">
					
					<div ng-show="settings.listCount > settings.pageSize">
						<pagination page="settings.currentPage" max-size="8" rotate="false" boundary-links="true" total-items="settings.listCount"
									items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
					</div>

					<button type="button" class="uk-button uk-button-danger uk-button-small" ng-click="deleteSelected($event)" ng-disabled="(favoriteorders | filter:{Selected:true}).length == 0">{{('Delete' | r) + ' ' + ('Selected' | r) | xlat}}</button>
					<span class="" ng-show="error" ng-bind-html="error | r"></span>
				</div>
			</div>
		</section>
		</div> <!-- container -->
</section> <!-- section -->
