<!-- *** orderDetails *** -->

<div>
    <div ng-class="{'no': cart_order.$invalid, 'yes': !cart_order.$invalid, 'open': checkOutSection == 'order' }">
        <h3>
            {{('Order' | r) + ' Details' | xlat}}
        </h3>
	</div>

	<form class="uk-form-stacked" name="cart_order" novalidate="">
		<fieldset class="uk-fieldset">
			<div ng-if="user.Permissions.contains('EditPOID')" ng-invalid>
				<div class="input-group">
					<label class="uk-form-label required">{{('Order' | r) + ' '  + ('ID' | r) | xlat}}</label>
					<input class="uk-input" name="orderid" ng-disabled='currentOrder.autoID' type='text' ng-model="currentOrder.ExternalID"
						   required ui-mask="{{currentOrder.autoID ? null : user.Company.POIDMask}}"></input>
						<span ng-if="user.Permissions.contains('AllowAutoGenPOID')" class="input-group-addon">
							<input type='checkbox' ng-click="currentOrder.ExternalID = currentOrder.autoID ? null : 'auto'" ng-model='currentOrder.autoID' />
						</span>
					<span class="input-group-addon" ng-show="user.Permissions.contains('AllowAutoGenPOID')">{{('Auto' | r) + ' ' + ('ID' | r) | xlat}}</span>
					<i class="fa">#</i>
				</div>
			</div>
		</fieldset>

    <fieldset class="uk-fieldset">
			<div class="uk-margin-small" ng-show="user.Permissions.contains('CostCenterPerOrder') && !user.Permissions.contains('CostCenterPerLine') && user.CostCenters.length > 0 || user.Permissions.contains('CostCenterPerOrder') && user.Permissions.contains('FreeFormCostCenter')">
				<div ng-class="{'view-form-select': !currentOrder.CostCenter && user.CostCenters.length > 1, '': currentOrder.CostCenter }">
					<label class="uk-form-label required">{{'Cost Center' | r | xlat}}</label>
					<select class="uk-select" ng-required="user.Permissions.contains('CostCenterPerOrder') && !user.Permissions.contains('CostCenterPerLine') && !user.Permissions.contains('FreeFormCostCenter')"
							ng-change="updateCostCenter()" ng-if="user.CostCenters.length > 1 && !user.Permissions.contains('FreeFormCostCenter')"
							ng-options="center.Name as center.Name for center in user.CostCenters" ng-model="currentOrder.CostCenter"><option value=""></option></select>
					<input class="uk-input" ng-show="user.Permissions.contains('FreeFormCostCenter')" ng-model="currentOrder.CostCenter" type='text'
						   ng-required="user.Permissions.contains('CostCenterPerOrder') && !user.Permissions.contains('CostCenterPerLine') && user.Permissions.contains('FreeFormCostCenter')"
						   placeholder="{{'Cost Center' | r | xlat}}" />
					<span ng-if="user.CostCenters.length == 1 && !user.Permissions.contains('FreeFormCostCenter')">{{currentOrder.CostCenter}}</span>
				</div>
			</div>
		</fieldset>

    <fieldset class="uk-fieldset">
			<div class="uk-margin-small" ng-if="user.Permissions.contains('Comments')">
				<label class="uk-form-label">{{'Comments' | r | xlat}}</label>
				<div class="uk-form-controls">
					<textarea class="uk-textarea" rows="5" ng-model="currentOrder.Comments" ng-attr-placeholder="You can enter any comments regarding your order here..." />
				</div>
			</div>
		</fieldset>

		<div ng-show="currentOrder.OrderFields">
			<div ng-repeat="field in currentOrder.OrderFields">
				<customtextfield customfield="field" ng-if="field.ControlType == 'Text'" ng-required="field.IsRequired" />
				<customselectionfield customfield="field" ng-if="field.ControlType == 'Selection'" ng-required="field.IsRequired" />
			</div>
		</div>
	</form>
</div>
